
body{
font-family: Open Sans, sans-serif, Arial;
font-size: 30px;
line-height: 1.5;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-color: antiquewhite;

}



.logo{
	height: 1.2em;
}
.se-nav{
	z-index: 99;
	
}

.weltex{
	font-size: 1.15rem;
}



.titre {
	font-weight: 600;
	font-size: 3.5rem;
	font-family: sans-serif;
	color: rgb(255, 110, 20);
	margin: 0.2em;
	align-self: center;
}
  
  
  


.trait{
margin-left: 1.6rem;
border-right: 1px solid rgb(255, 110, 20);
padding-right: 1.6rem;
display: flex;

}
#card-text {
  font-family: Arial, sans-serif;
  font-size: 25px;
  line-height: 1.5;
  color: white;
  margin-bottom: 1.5rem;
  background-color: #eb8b0e;
}



.ver{
align-items: center;
align-items: center;
margin: 0px -0.4em 0px 1em;
display: flex;

}



.menu{
	box-shadow: 1px 6px 5px rgba(219, 217, 217, 0.56);
}

.forms{
	  padding: 3.2rem;
  margin: 2rem auto auto;
  border: 1px none;
  max-width: 20em;
  border-radius: 0.8rem;
  box-shadow: rgba(26, 26, 26, 0.08) 0px -1px 4px 0px, rgba(26, 26, 26, 0.12) 0px 4px 8px 0px;
  background-color: white;
}

.inp{
background: transparent;

border-radius: 4px;
color: rgb(26, 26, 26);
flex: 5 1 0%;
font-size: 1.9rem;
height: 100%;
min-width: 0px;
padding: 0px 1rem;
width: 100%;

}

.v-inp{
align-items: center;
align-items: center;
display: inline-flex;
align-items: center;
justify-content: center;
border: 1px solid rgb(202, 209, 217);
border-radius: 0.3em;
height: 3.5rem;
width: 100%;
position: relative;
}



.v-inp .password-icon .feather-eye-off{
display: none;
}




.v-inp .password-icon{
	
	position: absolute;
	right: 10px;	

}

.exo-btn{
	padding: 12px 0px;
	width: 100%;

}

.tt{
	font-size: 1.4rem;
	font-weight: bold;
}

.ty{
	font-size: 1.5rem;
	text-align: center;
}
.lb{
	font-size:1.5rem;;
	font-weight: bold;
	
}
.ls{
	font-size: 1.5rem;
}


.form1.error  .v-inp  #nom{

  border-color: red;
 
}
.form2.error  .v-inp  #email{

	border-color: red;
   
  }

  .form3.error  .v-inp  #num{

	border-color: red;
   
  }

  .form4.error  .v-inp  #code{

	border-color: red;
   
  }

  .form5.error  .v-inp  #codes{

	border-color: red;
   
  }

.form1.succes  .v-inp #nom{

	border-color: green;
}

.form2.sucess .v-inp #email{

	border-color: green;
}

.form3.sucess .v-inp #num{

	border-color: green;
}

.form4.sucess .v-inp #code{

	border-color: green;
}
.form5.sucess .v-inp #codes{

	border-color: green;
}

.form1{
	position: relative;
	
	}
	.form1 small{
	  position: absolute;
	  left: 0;
	  bottom: -18px;
	
	}
	small	{
		font-size: 15px;
		visibility: hidden;
	
	}
	.form1.error small{
	
		color: red;
		visibility: visible;
	}

	
.form2{
	position: relative;
	
	}

	.form2 small{
		position: absolute;
		left: 0;
		bottom: -18px;
	  
	  }

	  .form2.error small{
	  
		  color: red;
		  visibility: visible;
	  }

	  .form3{
		position: relative;
		
		}
	
		.form3 small{
			position: absolute;
			left: 0;
			bottom: -18px;
		  
		  }
	
		  .form3.error small{
		  
			  color: red;
			  visibility: visible;
		  }

		  .form4{
			position: relative;
			
			}
		
			.form4 small{
				position: absolute;
				left: 0;
				bottom: -18px;
			  
			  }
		
			  .form4.error small{
			  
				  color: red;
				  visibility: visible;
			  }

			  .form5{
				position: relative;
				
				}
			
				.form5 small{
					position: absolute;
					left: 0;
					bottom: -18px;
				  
				  }
			
				  .form5.error small{
				  
					  color: red;
					  visibility: visible;
				  }


	  .se-btn{
	  	background-color: gray ;
	  	color: white;
		  
	  }
	  
	  .se-nav-btn{
	  	color: white;
	  	font-weight: bold;

	  }
	  

	  .se-nav-bouton {
    background-color: gray;
		}

		

	

			.se-footer{
				background-color: rgb(19, 18, 18);
				color: white;
			}

			.se-acueil{
					  padding: 3.2rem;
					  margin: 2rem auto auto;
					  border: 1px none;
					  max-width: 50em;
					  border-radius: 0.8rem;
					  box-shadow: rgba(26, 26, 26, 0.08) 0px -1px 4px 0px, rgba(26, 26, 26, 0.12) 0px 4px 8px 0px;
					  background-color: rgba(0, 0, 0, 0.6);
					   
			}
  
  .se-pubform{
					  padding: 3.2rem;
					  margin: 2rem auto auto;
					  border: 1px none;
					  
					  border-radius: 0.8rem;
					  box-shadow: rgba(26, 26, 26, 0.08) 0px -1px 4px 0px, rgba(26, 26, 26, 0.12) 0px 4px 8px 0px;
					  background-color: rgba(255, 255, 255, 0.6);
					   
			}

  .se-pub-inp{
  	    background: transparent;
    border-radius: 4px;
    color: rgb(26, 26, 26);
    flex: 5 1 0%;
    font-size: 0.9rem;
    height: 100%;
    min-width: 0px;
    padding: 0px 1rem;
    width: 100%;
  }
  
  .se-ty {
    font-size: 1.5rem;
    text-align: center;
}

  .se-typub {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;

}

.se-prof-inp{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 30px;
	box-shadow: 4px 4px 4px rgb(0 0 0);
	border-radius: 10px;
}


.se-pay-btn{
	width: 200px;
} 


.se-card{
	background-color: rgba(255, 255, 255, 0.726);
}



@media screen and (max-device-width :768px){

	.se-pub-inp{
    width: 100%;
  }

	.forms{
	  padding: 0.8rem;
  box-shadow: rgba(26, 26, 26, 0.08) 0px 0px 0px 0px, rgba(26, 26, 26, 0.12) 0px 0px 0px 0px;
}


.ver{
display: none;
}

.trait{
margin-left: 1.6rem;
border-right: 0px solid rgb(255, 110, 20);
padding-right: 1.6rem;
display: flex;

}

}


.profile__basic-thumb img {
	width: 70px;
	height: 70px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #e4e4e4;
  }
  .profile__basic-title {
	font-size: 22px;
	color: #000;
	font-weight: 400;
	margin-bottom: 5px;
  }
  .profile__basic-title span {
	font-weight: 600;
  }
  .profile__basic-content p {
	font-size: 14px;
	font-weight: 400;
	color: #000;
	margin-bottom: 0;
  }
  .profile__basic-content p a {
	font-weight: 500;
	color: #bc8246;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
	.profile__basic-cart {
	  margin-top: 25px;
	}
  }
  .profile__basic-cart .cart-info a {
	font-size: 16px;
	color: #000;
	text-transform: capitalize;
	font-weight: 500;
  }
  .profile__basic-cart .cart-info a:hover {
	color: #bc8246;
  }
  .profile__basic-cart .cart-item a {
	position: relative;
	font-size: 18px;
	color: #000;
  }
  .profile__basic-cart .cart-item a:hover {
	color: #bc8246;
  }
  .profile__basic-cart .cart-quantity {
	position: absolute;
	bottom: -4px;
	right: -7px;
	font-size: 10px;
	display: inline-block;
	width: 17px;
	height: 17px;
	text-align: center;
	line-height: 17px;
	background-color: #bc8246;
	color: #fff;
	font-weight: 500;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
  }
  .profile__menu-left {
	padding: 26px 20px 5px;
	border: 1px solid #eceaea;
  }
  .profile__menu-title {
	font-size: 14px;
	font-weight: 600;
	color: #bc8246;
	border-bottom: 1px solid #eceaea;
	margin-bottom: 0;
	padding-bottom: 20px;
  }
  .profile__menu-title i {
	width: 10px;
	margin-right: 10px;
	display: inline-block;
  }
  .profile__menu-tab .nav-tabs {
	padding: 0;
	margin: 0;
	border: 0;
  }
  .profile__menu-tab .nav-tabs .nav-link {
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	text-align: left;
	padding: 15px 0;
	background-color: transparent;
	transition: all 0.3s ease-out 0s;
  }
  .profile__menu-tab .nav-tabs .nav-link:not(:last-child) {
	border-bottom: 1px solid #e4e4e4;
  }
  .profile__menu-tab .nav-tabs .nav-link.active {
	transition: all 0.3s ease-out 0s;
  }
  .profile__menu-tab .nav-tabs .nav-link.active, .profile__menu-tab .nav-tabs .nav-link:hover {
	color: #bc8246;
  }
  .profile__menu-tab .nav-tabs .nav-link i {
	margin-right: 10px;
	width: 10px;
	display: inline-block;
  }
  .profile__info-top {
	padding: 20px 70px;
	background-color: #fff;
	margin-bottom: 15px;
  }
  @media (max-width: 575px) {
	.profile__info-top {
	  padding-left: 15px;
	  padding-right: 15px;
	}
  }
  .profile__info-btn {
	font-size: 14px;
	color: #000;
	font-weight: 500;
	background-color: transparent;
  }
  .profile__info-btn i {
	margin-right: 5px;
  }
  .profile__info-btn:hover {
	color: #bc8246;
  }
  .profile__info-title {
	font-size: 18px;
	font-weight: 600;
	color: #000;
	margin-bottom: 0;
  }
  .profile__info-title i {
	width: 10px;
	margin-right: 10px;
	display: inline-block;
  }
  .profile__info-wrapper {
	padding: 0 70px;
  }
  @media (max-width: 575px) {
	.profile__info-wrapper {
	  padding-left: 15px;
	  padding-right: 15px;
	}
  }
  .profile__info-item {
	padding: 30px 0;
  }
  .profile__info-item:not(:last-child) {
	border-bottom: 1px solid #eceaea;
  }
  .profile__info-item p {
	font-size: 14px;
	text-transform: capitalize;
	color: #000;
	margin-bottom: 10px;
	line-height: 1;
  }
  .profile__info-item h4 {
	font-size: 16px;
	line-height: 1;
	margin-bottom: 0;
  }
  .profile__edit-wrapper {
	padding: 40px 60px;
  }
  @media (max-width: 575px) {
	.profile__edit-wrapper {
	  padding-left: 15px;
	  padding-right: 15px;
	}
  }
  .profile__edit-input {
	margin-bottom: 25px;
  }
  .profile__edit-input p {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 0;
	color: #000;
  }
  .profile__edit-input input {
	width: 100%;
	height: 60px;
	line-height: 56px;
	background: var(--tp-grey-2);
	border: 1px solid #ececec;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-left: 30px;
	padding-right: 45px;
  }
  .profile__edit-input input::placeholder {
	color: #8d8e9a;
	font-weight: 500;
  }
  .profile__edit-input input:focus {
	border-color: #bc8246;
	background-color: #fff;
  }
  .profile__edit-close {
	position: absolute;
	top: 15px;
	right: 15px;
  }
  .profile__edit-close-btn {
	font-size: 15px;
	color: #6f7172;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #e4e4e4;
  }
  .profile__edit-close-btn:hover {
	color: #fff;
	background-color: #bc8246;
	border-color: #bc8246;
  }
  

  /*//////accueil//*/

  /* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
	font-size: 	14px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h1, h2 {
    margin-bottom: 10px;
}

/* Styles spécifiques */
#banner {
    text-align: center;
    background-image: url('chemin/vers/image.jpg');
    background-size: cover;
    color: #fff;
    padding: 100px 0;
}

#banner h1 {
    font-size: 36px;
}

#banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #cc5500;
}


/*  produits*/

/* Styles pour la liste de produits */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
}


.diaspo1{
    margin :0 auto;
    width: 100%;
    height: 300px;
    border:  3px  #333;
    background-image: url("image/im1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    -webkit-animation-name: dias1;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function:linear ;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:normal ;
  
    -moz-animation-name: dias1;
    -moz-animation-duration: 9s;
    -moz-animation-timing-function:linear ;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction:normal ;
  
    animation-name: dias1;
    animation-duration: 9s;
    animation-timing-function:linear ;
    animation-iteration-count: infinite;
    animation-direction:normal ;
  }
  
  @-webkit-keyframes dias1{
    0%{background-image: url("public/asset/images/Fond2.jpg");} 
    33%{background-image: url("public/asset/images/img 2.jpg");}
    66%{background-image: url("public/asset/images/img 3.jpg");} 
    }
	
    @-moz-keyframes dias1{
		0%{background-image: url("public/asset/images/Fond2.jpg");} 
		33%{background-image: url("public/asset/images/img 2.jpg");}
		66%{background-image: url("public/asset/images/img 3.jpg");} 
        }
  
      @-keyframes dias1{
        0%{background-image: url("public/asset/images/Fond2.jpg");} 
    33%{background-image: url("public/asset/images/img 2.jpg");}
    66%{background-image: url("public/asset/images/img 3.jpg");} 
      }

	  /* PROFIL */

	  @media (min-width: 768px) {
		.ml-md-4 {
			margin-left: 33.333333%;
		}
	}
	
	/* Style pour le titre "Change Password" */
	.password__change-title {
		color: #333;
		font-size: 24px;
		margin-bottom: 20px;
	}
	
	/* Style pour le formulaire */
	.password__form {
		padding: 30px;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
	
	/* Style pour les inputs du formulaire */
	.password__input {
		margin-bottom: 20px;
	}
	
	.password__input p {
		margin-bottom: 5px;
		color: #555;
	}
	
	.password__input input[type="password"] {
		width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	
	/* Style pour le bouton du formulaire */
	.password__input button {
		width: 100%;
		padding: 10px;
		border: none;
		border-radius: 4px;
		background-color: #333;
		color: #fff;
		cursor: pointer;
	}
	
	.password__input button:hover {
		background-color: #555;
	}
		 /* Style pour les onglets */
	.profile__menu-tab .nav-link {
		border: none;
		border-bottom: 1px solid transparent;
		color: #333;
		transition: all 0.3s ease;
	}
	
	.profile__menu-tab .nav-link:hover {
		background-color: transparent;
		border-color: #ccc;
		color: #555;
	}
	
	.profile__menu-tab .nav-link.active {
		background-color: transparent;
		border-color: #333;
		color: #333;
	}
	
	/* Style pour les containers */
	.container {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		transition: box-shadow 0.3s ease;
	}
	
	.container:hover {
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	}
	
	/* Style pour les boutons */
	.profile__info-btn, .order__info-btn {
		background-color: #333;
		color: #fff;
		border: none;
		padding: 8px 16px;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}
	
	.profile__info-btn:hover, .order__info-btn:hover {
		background-color: #555;
	}
	
	/* Style pour les formulaires */
	.form-control {
		border: 1px solid #ccc;
		border-radius: 4px;
		transition: border-color 0.3s ease;
	}
	
	.form-control:focus {
		border-color: #333;
		box-shadow: none;
	}
	
	/* Style pour les boutons de formulaire */
	.btn-primary {
		background-color: #333;
		color: #fff;
		border: none;
		padding: 8px 16px;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}
	
	.btn-primary:hover {
		background-color: #555;
	}

	/* pied de page */


	:root{ 
		--base-color: #03bbf3;
		--gray-color: white;
		--second-color:#23242a;
		}
		
	.footc{position:scroll;

        left: 0;
        bottom: 0;
        width: 100%;
        background:linear-gradient(0deg,transparent,var(--second-color),var(--second-color)) ;
    }



	/* animation a propos */

	.fade-left {
		opacity: 0;
		transform: translateX(-20px);
		transition: opacity 0.5s ease, transform 0.5s ease;
	}
	
	.fade-left.show {
		opacity: 1;
		transform: translateX(0);
	}
	